doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style/main.css")
        
        title landing page 
    body 
    header   
     nav 
      
          ul 
             li  
                a(href="/") home 
             li#Login
                a(href="/login") login 
             li
                a(href="/register") register  
    main#landingpage 
      div#img1 
        img(src="./images/undraw_Hello_re_3evm.png", alt="")
      div#h1 
       h1 Welcome To The Landing Page 
    footer
     p &copy; 2021 
