doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style/main.css")
        title register
    body 
      header 
         nav 
           ul 
             li
               a(href="/") Home 
             li#login 
               a(href="/login") Login 
             li 
               a(href="/register") Register 
      img#img2(src="./images/undraw_Sign_up_n6im.png", alt="")        
      main.register  
      form(action="/register",method="POST")
        label(for="name")  Name 
        input(type="name",name="name",id="name")
        label(for="DateOfBirth")  Date Of Birth 
        input(type="date",name="DateOfBirth",id="DateOfBirth")
        label(for="email") Email 
        input(type="email",name="email",id="email")
        label(for="password")  password 
        input(type="password",name="password",id="password") 
        input(type="submit", value="Register",id='reg')
    footer 
      p  &copy;2021